*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formulario{
    height: 27vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.email{
    border: 2px solid #838383;
    border-radius: 10px;
    width: 10vw;
    height: 3vh;
    margin-bottom: 15px;
    padding-left: 55px;
   
}

.senha{
    border: 2px solid #838383;
    border-radius: 10px;
    width: 10vw;
    height: 3vh;
    margin-bottom: 15px;
    padding-left: 40px;
}
.botao{
    background-color: #4b1ffa;
    border: 2px solid #838383;
    border-radius: 15px;
    width: 10vw;
    height: 3vh;
}
.centralizar{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 3px solid #838383;
    border-radius: 20px;
    width: 25vw;
    height: 30vh;
}
.retangulo{
    width: 100%;
    height: 50px;
    color: blueviolet;
    background-color: blueviolet;
    border: 100px;
}